body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
.header{
    width: 100%;
    height: 50px;

    background-color:#3c8dbc;
    padding: 0;
    color: white;
    font-size: 20px;
    
}
.logo{
    padding-left: 30px;
    padding-top: 10px;
}
.menu{
    width: 200px;
    background-color: #222d32;
    color: white;
    
}
.menu ul{
    margin: 0;
    list-style-type: none;
}
.menu ul li{
    padding: 20px 0; 
}
.menu a{
    color: #808d93;
}
.menu a:hover{
    color: white;
}
.content{
    display: flex;
}
.game{
    border: 1px solid #808d93;
    margin-left: 30px;
    margin-top: 30px;
    width: 150px;
}
.change{
    padding: 50px;
}
.pubs{
    display: block;
}
.game img{
    width: 100px;
    height: 100px;
    padding: 10px;
    margin-left: 15px;
}
.gameContent{
    text-align: center;
}
.gameContent p{
    margin: 3px;
}
.game button{
    width: 50px;
}
.buttons{
    padding-left: 25px;
    padding-bottom: 8px;
    border-radius: 20px;

}
.row{
    display: flex;
    flex-wrap: wrap;

}

.pub{
    display: flex;
    border: 1px solid #808d93;
    margin-left: 30px;
    margin-top: 30px;
    max-width: 550px;
}
.pubs{
    display: flex;
    flex-wrap: wrap;
}

.pub a{
    display: flex;
}
.pub img{
    max-width: 150px;
    max-height: 150px;
}
.pubContent{
    padding-left: 30px;
    width: 300px;
}
.desc{
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        -ms-line-clamp: 3;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        display: -webkit-box;
        display: box;
        word-wrap: break-word;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        font-size: 15px;
        line-height: 19px;
}
.users{
    margin-top: 10px;
}
.user button{
    margin-top: 3px;
}
.user{
    border: 1px solid #808d93;
    margin-left: 30px;
    display: flex;
    width: 100%;
}
.users table{
    margin-left: 30px ;
}
.user a{
    display: flex;
}
.addBttn{
    margin-left: 30px;
    margin-top: 30px;
    

}
